*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(238, 235, 235);
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

ul,
ul li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header__title {
  height: 90px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 180px;
  height: 30px;
  border-radius: 10px;
  margin-right: 20px;
  padding-left: 10px;
}
.input:focus {
  background-color: rgb(203, 227, 252);
  transition: 0.5s;
}
input:hover {
  border: 1px solid rgb(43, 0, 255);
  transition: 0.5s;
}
button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin: 0 6px;
}
button:hover {
  border: none;
  background-color: rgb(203, 227, 252);
  transition: 1s;
}
.sort__prev {
  margin-left: 90px;
}
.fovarites {
  margin-left: 40px;
}
.header__title {
  height: 90px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide {
  display: none;
}

/* hamburger  =================*/
.gamburger {
  display: none;
}
.burger__menu {
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
.menu-btn {
  align-items: center;
  width: 50px;
  height: 50px;
  background: #181818;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::after,
.menu-btn-burger::before {
  position: absolute;
  display: flex;
  justify-content: center;
  content: "";
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::after {
  transform: translateY(-12px);
}

.menu-btn-burger::before {
  transform: translateY(12px);
}
/* hamburger  =================*/

@media (max-width: 780px) {
  .gamburger {
    display: block;
  }
  .nav__none {
    display: none;
  }
}

.backColor {
  background-color: rgb(238, 242, 2);
}
